[submodule "packages/tile-extruder"]
	path = packages/tile-extruder
	url = https://github.com/PixelRPG/tile-extruder
[submodule "packages/esbuild"]
	path = packages/esbuild
	url = https://github.com/PixelRPG/esbuild.git
[submodule "packages/excalibur-tiled"]
	path = packages/excalibur-tiled
	url = https://github.com/PixelRPG/excalibur-tiled.git
[submodule "packages/excalibur"]
	path = packages/excalibur
	url = https://github.com/PixelRPG/Excalibur.git
[submodule "packages/excalibur-aseprite"]
	path = packages/excalibur-aseprite
	url = https://github.com/PixelRPG/excalibur-aseprite.git
